<section
  class="flex justify-content-center align-items-center"
  style="min-height: 30rem"
>
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 35rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Forgot Password</h5>
    @if (!tokenSendSuccess) {
    <ng-container>
      <form [formGroup]="ForgetPwdForm" (submit)="submitForm()">
        <!-- EMAIL -->
        <div class="mb-4">
          <p-floatLabel>
            <input
              type="text"
              class="w-full"
              id="email"
              pInputText
              formControlName="email"
            />
            <label for="email">Enter your email</label>
          </p-floatLabel>
          @if (email.invalid && (email.dirty || email.touched)) {
          <small class="block p-error">
            @if (email.errors?.['required']) {
            <span>Email should not be empty</span>
            } @if (email.errors?.['email']) {
            <span>Email should be valid</span>
            }
          </small>
          }
        </div>

        <!-- CONTINUE -->
        <div class="mb-4">
          <button
            type="submit"
            [disabled]="ForgetPwdForm.invalid"
            class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
            [ngClass]="{ 'opacity-20': ForgetPwdForm.invalid }"
          >
            Continue
          </button>
        </div>
      </form>
    </ng-container>
    } @if (tokenSendSuccess) {
    <ng-container>
      <div class="flex flex-column align-items-center text-center">
        <i class="pi pi-envelope x-primary" style="font-size: 5rem"></i>
        <div class="text-xl font-medium x-black50">
          Check your email to <br />
          reset password
        </div>

        <!-- CONTINUE -->
        <div class="mt-2">
          <button
            type="submit"
            class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
            (click)="tokenSendSuccess = !tokenSendSuccess"
          >
            Try again
          </button>
        </div>
      </div>
    </ng-container>
    }
  </div>
</section>
