:host ::ng-deep {
  .p-tabview-nav {
    all: unset;
  }
  .p-tabview-panels {
    padding: 0;
  }
}

.tabButton {
  padding: 1rem 0.8rem;
  height: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.333);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;

  button {
    all: unset;
    display: flex;
    gap: 5px;
    width: fit-content;
    max-width: 10rem;
    align-items: center;
    font-weight: 450;
    white-space: nowrap;
    cursor: default;
    padding: 0rem 0.5rem;
  }

  button:disabled {
    color: var(--black50);
  }

  .activeBtn {
    cursor: pointer;
    background-color: var(--lp-color);
    padding: 0.4rem 0.5rem;
    border-radius: 4px;
    color: var(--p-color) !important;
  }

  div {
    padding: 0.2rem 0.65rem;
    color: var(--black25);
    i {
      font-size: 8px;
    }
  }
}
