<!--@for (item of items; track $index){ } -->
<div style="min-width: 730px">
  <h1 class="text-3xl mt-0 x-font-roboto px-2">Categories</h1>
  <div>
    <general-service-category-list
      [categories]="categories"
      (onAction)="handleAction($event)"
    ></general-service-category-list>
    <p-dialog
      header="Service category Form"
      [(visible)]="dialogVisible"
      [style]="{ width: '50vw' }"
    >
      <general-service-category-form
        [category]="category"
        (onAction)="handleAction($event)"
      ></general-service-category-form>
    </p-dialog>
  </div>
  <div>
    <p-toast></p-toast>
    <p-confirmDialog />
  </div>
</div>
