<section
  class="flex justify-content-center align-items-center"
  style="min-height: 30rem"
>
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 35rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Verify Email</h5>
    <form>
      <div class="text-center x-black75 text-lg">
        Head to your Email address and click the link to verify your email
      </div>
    </form>
  </div>
</section>
