<section class="flex justify-content-center">
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 35rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Reset Password</h5>
    <form [formGroup]="ResetPwdForm" (submit)="submitForm()">
      <!-- PASSWORD -->
      <div class="mb-4">
        <p-floatLabel>
          <input
            type="password"
            class="w-full"
            id="password"
            pInputText
            formControlName="password"
          />
          <label for="password">New Password</label>
        </p-floatLabel>
        @if (password.invalid && (password.dirty || password.touched)) {<small
          class="block p-error"
        >
          @if (password.errors?.['required']) {<span
            >Password should not be empty</span
          >} @if (password.errors?.['minlength']) {<span
            >Password should be more than 8 letters</span
          >} </small
        >}
      </div>

      <!--CONFIRM PASSWORD -->
      <div class="mb-4">
        <p-floatLabel>
          <input
            type="password"
            class="w-full"
            id="confirmPassword"
            pInputText
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
          <label for="confirmPassword">Confirm Password</label>
        </p-floatLabel>
        @if (confirmPassword.invalid && (confirmPassword.dirty ||
        confirmPassword.touched)) {<small class="block p-error">
          @if (confirmPassword.errors?.['required']) {
          <span>Confirm Password should not be empty</span>} @if
          (confirmPassword.errors?.['minlength']) {<span
            >Confirm Password should be more than 8 letters</span
          >} </small
        >}

        <!-- PASSWORD MISMATCH ERROR -->
        <small>
          @if (ResetPwdForm.errors?.['passwordMismatch'] &&
          confirmPassword.valid && password.valid) {<span class="block p-error">
            password should match </span
          >}
        </small>
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="ResetPwdForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': ResetPwdForm.invalid
          }"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</section>
