<footer class="x-bg-secondary">
  <!-- UPPER FOOTER -->
  <div class="px-1 lg:px-5">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">What is MUNTU</div>
        <p class="x-black75">
          Muntu is an online platform designed to connect clients with skilled
          and reliable handymen. Whether you need a plumber, electrician,
          carpenter, or any other type of handyman service, Muntu is your go-to
          destination.
        </p>
        <div
          class="border-round-md x-bg-primary mt-3 mb-2"
          style="height: 0.25rem; width: 35%"
        ></div>
        <div class="flex app-icon">
          <img
            src="./assets/images/layout/footer/playstore icon.png"
            alt="Playstore icon"
          />
          <img
            src="./assets/images/layout/footer/appstore icon.png"
            alt="Appstore icon"
          />
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">Quick links</div>
        <ul
          style="list-style: none; padding: 0; line-height: 1.7rem"
          class="x-black75"
        >
          <li><a routerLink="/auth/register">Create an agency</a></li>
          <li><a routerLink="#">Start a premium search</a></li>
          <li><a routerLink="/agencies">Agents and agencies</a></li>
          <li><a routerLink="#">About us and FAQ</a></li>
          <li><a routerLink="/login">My Account</a></li>
          <li><a routerLink="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">Discover</div>
        <ul
          style="list-style: none; padding: 0; line-height: 1.7rem"
          class="x-black75"
        >
          <li>
            <a
              routerLink="/agencies"
              [queryParams]="{ category: 'Auto Mechanics' }"
              >Auto Mechanics</a
            >
          </li>
          <li>
            <a
              routerLink="/agencies"
              [queryParams]="{ category: 'Electrician' }"
              >Electrician</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ category: 'Glass Man' }"
              >Glass Man</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ category: 'Repairer' }"
              >repairer</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">Areas we Cover</div>
        <ul
          style="list-style: none; padding: 0; line-height: 1.7rem"
          class="x-black75"
        >
          <li>
            <a routerLink="/agencies" [queryParams]="{ location: 'Yaounde' }"
              >Yaounde</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ location: 'Douala' }"
              >Douala</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ location: 'Kumba' }"
              >Kumba</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ location: 'Limbe' }"
              >Limbe</a
            >
          </li>
          <li>
            <a routerLink="/agencies" [queryParams]="{ location: 'Buea' }"
              >Buea</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="my-4 opacity-20" />

  <!-- LOWER FOOTER -->
  <div class="px-1 lg:px-5">
    <div class="grid x-black75">
      <!-- COL 1 -->
      <div
        class="col-12 lg:col flex flex-wrap justify-content-between align-items-center"
      >
        <a routerLink="/" class="font-semibold flex align-items-center gap-1"
          >Muntu Inc
          <img
            src="./assets/images/layout/footer/copyright icon.png"
            alt="Copyright icon"
        /></a>
        <a
          routerLink="/terms"
          class="font-semibold flex align-items-center gap-1"
          >Terms</a
        >
        <a
          routerLink="/privacy"
          class="font-semibold flex align-items-center gap-1"
          >Privacy</a
        >
        <a routerLink="/" class="font-semibold flex align-items-center gap-1">
          <img
            src="./assets/images/layout/footer/globe icon.png"
            alt="globe icon"
          />
          English</a
        >
      </div>
      <!-- COL-2 -->
      <div class="col-12 lg:col align-items-center text-center lg:text-right">
        09:00 - 15:00 [+237 674751815/ +237 670000000]
      </div>
      <!-- COL-3 -->
      <div
        class="col-12 lg:col-3 flex align-items-center justify-content-center lg:justify-content-end gap-3"
      >
        <a routerLink="/"
          ><i class="pi pi-whatsapp text-2xl" style="color: #05e370"></i
        ></a>
        <a routerLink="/"
          ><i class="pi pi-facebook text-2xl" style="color: #1877f2"></i
        ></a>
        <a routerLink="/"
          ><i class="pi pi-linkedin text-2xl" style="color: #0a66c2"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
