.link-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  color: #8c8c8c;
  padding: 0px 0px 0 10px;
  border-radius: 6px;
  margin-top: 0.5rem;
  opacity: 0.9;
}
