<div class="app-body flex flex-column relative">
  <div
    style="z-index: 1102; position: fixed; width: 100vw"
    [classList]="isRoute('dashboard') ? 'dash-width' : ''"
  >
    <app-header></app-header>
  </div>
  <!-- lg:px-6 -->
  <div
    [classList]="
      isRoute(['dashboard', '', 'agencies', 'agent'])
        ? 'flex-1'
        : 'lg:px-6 flex-1 pb-5'
    "
    [style]="
      isRoute([''])
        ? { zIndex: 9, }
        : { zIndex: 9, marginTop: '72px' }
    "
  >
    <router-outlet />
  </div>

  <app-footer></app-footer>
</div>
