<section class="flex justify-content-center">
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 40rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Log In to MUNTU</h5>
    <form [formGroup]="LoginForm" (ngSubmit)="submitForm()">
      <!-- EMAIL -->
      <div class="mb-4">
        <p-floatLabel>
          <input
            type="text"
            class="w-full"
            id="email"
            pInputText
            formControlName="email"
          />
          <label for="email">Email</label>
        </p-floatLabel>
        @if (email.invalid && (email.dirty || email.touched)) {

        <small class="block p-error">
          @if (email.errors?.['required']) {
          <span>Email should not be empty</span>
          } @if (email.errors?.['email']) {
          <span>Email should be valid </span>
          }
        </small>
        }
      </div>

      <!-- PASSWORD -->
      <div class="relative mb-3">
        <p-floatLabel>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="w-full"
            id="password"
            pInputText
            formControlName="password"
          />
          <label for="password">Password</label>
        </p-floatLabel>

        <button
          type="button"
          class="toggle-button"
          (click)="togglePasswordVisibility()"
        >
          <i
            class="pi"
            [ngClass]="{
              'pi-eye': !showPassword,
              'pi-eye-slash': showPassword
            }"
          ></i>
        </button>
        @if (password.invalid && (password.dirty || password.touched)) {<small
          class="block p-error"
        >
          Password should not be empty </small
        >}
      </div>

      <!-- FORGOT PASSWORD -->
      <div class="flex justify-content-end mb-3">
        <a class="underline x-black75" routerLink="/auth/forgot-password"
          >Forget Password?</a
        >
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="LoginForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': LoginForm.invalid
          }"
        >
          Continue
        </button>
      </div>

      <!-- OR -->
      <div class="flex justify-content-between align-items-center mb-4">
        <div class="x-bg-black25 Or-line"></div>
        <div class="text-md x-black50">or</div>
        <div class="x-bg-black25 Or-line"></div>
      </div>

      <!-- CONTINUE WITH GOOGLE -->
      <button
        type="button"
        class="google-btn mb-4"
        (click)="handleSocialAuth('google')"
      >
        <img src="./assets/images/auth/google icon.png" alt="google icon" />
        <div class="text-white">Continue with Google</div>
      </button>

      <!-- CONTINUE WITH FACEBOOK -->
      <button
        (click)="handleSocialAuth('facebook')"
        type="button"
        class="facebook-btn mb-4"
      >
        <img src="./assets/images/auth/facebook icon.png" alt="facebook icon" />
        <div>Continue with Facebook</div>
      </button>

      <!-- DON'T HAVE AN ACCOUNT -->
      <div class="flex align-items-center justify-content-center gap-2 mb-4">
        <div class="x-bg-black25 Dont-line"></div>
        <div class="text-sm x-black50 text-center">Don't have an Account?</div>
        <div class="x-bg-black25 Dont-line"></div>
      </div>

      <!-- DON'T HAVE AN ACCOUNT BUTTON-->
      <div class="register-link">
        <a routerLink="/auth/register"> Create an account </a>
      </div>
    </form>
  </div>
</section>
