/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

:root {
  --n-color: #03754c;
  --p-color: #a855f7 /* #7240bb */;
  --s-color: #ffd700;
  --s-bg: #f8f8f8;
  --t-color: #ba3fae;
  --lp-color: #7140bb0e;

  --black5: rgba(0, 0, 0, 0.05);
  --black25: rgba(0, 0, 0, 0.25);
  --black50: rgba(0, 0, 0, 0.45);
  --black75: rgba(0, 0, 0, 0.7);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "helvetica", "sans-serif";
  overflow-x: hidden;
}

/* PRIMARY */
.x-primary {
  color: var(--p-color) !important;
}

.x-bg-primary {
  background-color: var(--p-color) !important;
}

/* SECONDARY */
.x-secondary {
  color: var(--s-color);
}

.x-bg-secondary {
  background-color: var(--s-bg) !important;
}
/* NURSERY */
.x-nursery {
  color: var(--n-color);
}

.x-bg-nursery {
  background-color: var(--n-color) !important;
}

/* BLACK */
.x-black25 {
  color: var(--black25);
}
.x-bg-black25 {
  background-color: var(--black25);
}

.x-black50 {
  color: var(--black50);
}
.x-bg-black50 {
  background-color: var(--black50);
}

.x-black75 {
  color: var(--black75);
}
.x-bg-black75 {
  background-color: var(--black75);
}

.x-font-roboto {
  font-family: "roboto", "Poppins", "helvetica", "sans-serif";
}

.x-space {
  padding: 0 0 5rem 0;
}
@media screen and (min-width: 992px) {
  .x-space {
    padding: 0 3rem 5rem 3rem;
  }
}
