:host ::ng-deep {
  .p-dropdown-label {
    font-family: "roboto", "Poppins", "helvetica", "sans-serif";
  }
  .placeholder-color .p-dropdown-label {
    color: white !important;
  }
  .placeholder-color .p-dropdown-trigger {
    color: white;
  }
  .p-dropdown {
    background: none;
    border: none;
    outline: none;
    box-shadow: none !important;
    font-family: "roboto";
    font-weight: 500;
    .p-dropdown-trigger {
      width: fit-content;
    }
  }
  .p-dropdown-items {
    color: var(--p-color);
  }

  .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: var(--p-color);
    color: #ffffff;
  }

  .p-autocomplete {
    height: 100%;
    width: 100%;
    input {
      box-shadow: none !important;
      outline: none !important;
      /* box-shadow: 0 0 0 0.2rem #bfdbfe; */
    }
  }
  .p-autocomplete-panel .p-autocomplete-items {
    padding: 0;
  }
}
/* HEADER */
header {
  max-height: 80px;
  .navbar-logo {
    display: flex;
    align-items: center;
    img {
      height: 4.5rem !important;
    }
  }
}

@media screen and (min-width: 992px) {
}

a {
  text-decoration: none;
}

.dropdown-selected-item,
.dropdown-item {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.category-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.category-details {
  display: flex;
  flex-direction: column;
}

.category-name {
  font-weight: bold;
}

.category-description {
  font-size: smaller;
}

/* SIDEBAR DROPDOWN EXPAND */
.dropdown-expand {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.dropdown-expanded {
  height: fit-content;
  opacity: 1;
  transition: all 0.2s ease-in;
}

/* SEARCH INPUT */
.search-link {
  all: unset;
  background-color: var(--s-color);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 25px 0 9px;
  cursor: pointer;
  color: white;
  min-height: 45px;
  height: 50px;
}
